<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-wrapper">
    <div class="btn-back">
    </div>

    <header class="login-header">
      <h1>Bem Vindo</h1>
    </header>

    <br>

    <div class="logo-container">
      <img src="../../assets/img/logo.PNG" alt="Logo Saúde" class="logo">
      <h1 style="color:#fff">VaxiAgenda</h1>
    </div>

    <form class="form">
      <ion-item class="input">
        <ion-input label="Email" type="email" name="email" labelPlacement="floating" [(ngModel)]="email" required></ion-input>
      </ion-item>

      <ion-item class="input">
        <ion-input label="Senha" type="password" name="senha" labelPlacement="floating" [(ngModel)]="senha" required></ion-input>
      </ion-item>

      <ion-button expand="block" class="botao" (click)="login()">
        Entrar
      </ion-button>

      <div class="link-forgot">
        <a>Esqueceu a senha? </a>
      </div>
    </form>

    <footer class="login-footer">
      <p>Não tem uma conta? <a [routerLink]="['/cadastro']">Criar</a></p>
      <p>Não tem uma empresarial? <a [routerLink]="['/cadastro-local']">Criar</a></p>
    </footer>
  </div>
</ion-content>