<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 style="color:#fff">Bem-vindo(a)!</h2>
  <p>Confira suas vacinas já tomadas e mantenha seu calendário atualizado.</p>

  
    <div class="logo-container">
      <img src="../../assets/img/logo.PNG" alt="Logo Saúde" class="logo">
      <h1 style="color:#fff">VaxiAgenda</h1>
    </div>


  <ion-list *ngIf="vacinasTomadas.length > 0; else semVacinas">
    <ion-list-header>
      <ion-label>Vacinas tomadas</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let vacina of vacinasTomadas">
      <ion-label>
        <h3>{{ vacina.nomeVacina }}</h3>
        <p>Data: {{ vacina.dataAplicacao | date:'dd/MM/yyyy' }}</p>
      </ion-label>
    </ion-item>
    <ion-button (click)="irParaHistorico()" expand="block" *ngIf="vacinasTomadas.length >= 2">
      Ver histórico completo
    </ion-button>

  </ion-list>

  <ng-template #semVacinas>
    <p>Você ainda não registrou nenhuma vacina tomada.</p>
  </ng-template>

  <ion-button expand="block" color="primary" (click)="irParaCalendario()">
    Agendar nova vacina
  </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dicas e Novidades</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Mantenha seu calendário de vacinas atualizado.</li>
        <li>Consulte sempre o profissional de saúde.</li>
        <li>Fique atento às campanhas de vacinação locais.</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>
