<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">historico</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-icon name="arrow-back-outline" (click)="voltar()"></ion-icon>

<ion-card *ngFor="let historico of historicos">
    <ion-card-header>
      <ion-card-title>{{ historico.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="historico.vacinas.length > 0; else semVacinas">
        <ion-item *ngFor="let vacina of historico.vacinas">
          <ion-label>
            <h2>{{ vacina.nomeVacina }}</h2>
            <p>Data: {{ vacina.dataAplicacao | date: 'dd/MM/yyyy' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ng-template #semVacinas>
        <p>Nenhuma vacina registrada.</p>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
